﻿.Item
{
    background-color: #99FFCC;
    border: 1px solid #008000;
    text-align: center;    
}

.Operator
{
    border:1px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
	text-align: center;   
}

.Value
{
   background-image: url(../Images/bg.png);
	border: 1px solid #6297BC;
	width: 230px;
	text-align: center;  
}

.ItemValue
{
    background-color: #eee8aa;
    border: 1px solid #008000;
    text-align: center;  
}
.ItemValueInput
{
    background-image: url(../Images/form_bg.jpg);
    background-repeat: repeat-x;
    border: 1px solid #d1c7ac;
    color: #333333;
    padding: 3px;
    margin-right: 4px;
   
    font-family: tahoma, arial, sans-serif;
    text-align: center;
}
