﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProcItemValueTypePage.ascx.cs" Inherits="Intranet.DesktopModules.PersonnelExtendedProject.PersonnelExtended.FormulaEditor.BaseInformation.ProcItemValueTypePage" %>
