﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProcTextBoxTypePage.ascx.cs" Inherits="Intranet.DesktopModules.PersonnelExtendedProject.PersonnelExtended.FormulaEditor.BaseInformation.ProcTextBoxTypePage" %>
