﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProcFormulaAndConditionDetailPage.ascx.cs" Inherits="Intranet.DesktopModules.PersonnelExtendedProject.PersonnelExtended.FormulaEditor.BaseInformation.ProcFormulaAndConditionDetailPage" %>
