﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProcItemDetailProcessPage.ascx.cs" Inherits="Intranet.DesktopModules.PersonnelExtendedProject.PersonnelExtended.FormulaEditor.BaseInformation.ProcItemDetailProcessPage" %>
