﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProcFormulaAndConditionPage.ascx.cs" Inherits="Intranet.DesktopModules.PersonnelExtendedProject.PersonnelExtended.FormulaEditor.BaseInformation.ProcFormulaAndConditionPage" %>
