﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProcObjectTypePage.ascx.cs" Inherits="Intranet.DesktopModules.PersonnelExtendedProject.PersonnelExtended.FormulaEditor.BaseInformation.ProcObjectTypePage" %>
